<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stropheum.speedcalculatortest" >

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntervalWorkoutActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>

        <service
            android:name=".SpeedCalculationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".RestDayActivity"
            android:label="@string/title_activity_rest_day" >
        </activity>
        <activity
            android:name=".Week_1_Day_1"
            android:label="@string/title_activity_week_1__day_1" >
        </activity>
        <activity
            android:name=".Week_1_Day_2"
            android:label="@string/title_activity_week_1_day_2" >
        </activity>
        <activity
            android:name=".Week_1_Day_3"
            android:label="@string/title_activity_week_1__day_3" >
        </activity>
        <activity
            android:name=".Week_1_Day_4"
            android:label="@string/title_activity_week_1__day_4" >
        </activity>
        <activity
            android:name=".Week_1_Day_5"
            android:label="@string/title_activity_week_1__day_5" >
        </activity>
        <activity
            android:name=".Week_1_Day_7"
            android:label="@string/title_activity_week_1__day_7" >
        </activity>
        <activity
            android:name=".Week_2_Day_2"
            android:label="@string/title_activity_week_2__day_2" >
        </activity>
        <activity
            android:name=".Week_2_Day_3"
            android:label="@string/title_activity_week_2__day_3" >
        </activity>
        <activity
            android:name=".Week_2_Day_4"
            android:label="@string/title_activity_week_2__day_4" >
        </activity>
        <activity
            android:name=".Week_2_Day_5"
            android:label="@string/title_activity_week_2__day_5" >
        </activity>
        <activity
            android:name=".Week_2_Day_7"
            android:label="@string/title_activity_week_2__day_7" >
        </activity>
        <activity
            android:name=".Week_3_Day_2"
            android:label="@string/title_activity_week_3__day_2" >
        </activity>
        <activity
            android:name=".Week_3_Day_3"
            android:label="@string/title_activity_week_3__day_3" >
        </activity>
        <activity
            android:name=".Week_3_Day_4"
            android:label="@string/title_activity_week_3__day_4" >
        </activity>
        <activity
            android:name=".Week_3_Day_5"
            android:label="@string/title_activity_week_3__day_5" >
        </activity>
        <activity
            android:name=".Week_3_Day_6"
            android:label="@string/title_activity_week_3__day_6" >
        </activity>
        <activity
            android:name=".Week_3_Day_7"
            android:label="@string/title_activity_week_3__day_7" >
        </activity>
        <activity
            android:name=".Week_4_Day_2"
            android:label="@string/title_activity_week_4__day_2" >
        </activity>
        <activity
            android:name=".Week_4_Day_3"
            android:label="@string/title_activity_week_4__day_3" >
        </activity>
        <activity
            android:name=".Week_4_Day_5"
            android:label="@string/title_activity_week_4__day_5" >
        </activity>
        <activity
            android:name=".Week_4_Day_6"
            android:label="@string/title_activity_week_4__day_6" >
        </activity>
        <activity
            android:name=".Week_4_Day_7"
            android:label="@string/title_activity_week_4__day_7" >
        </activity>
        <activity
            android:name=".Week_5_Day_2"
            android:label="@string/title_activity_week_5__day_2" >
        </activity>
        <activity
            android:name=".Week_5_Day_3"
            android:label="@string/title_activity_week_5__day_3" >
        </activity>
        <activity
            android:name=".Week_5_Day_4"
            android:label="@string/title_activity_week_5__day_4" >
        </activity>
        <activity
            android:name=".Week_5_Day_5"
            android:label="@string/title_activity_week_5__day_5" >
        </activity>
        <activity
            android:name=".Week_5_Day_6"
            android:label="@string/title_activity_week_5__day_6" >
        </activity>
        <activity
            android:name=".Week_5_Day_7"
            android:label="@string/title_activity_week_5__day_7" >
        </activity>
        <activity
            android:name=".Week_6_Day_2"
            android:label="@string/title_activity_week_6__day_2" >
        </activity>
        <activity
            android:name=".Week_6_Day_3"
            android:label="@string/title_activity_week_6__day_3" >
        </activity>
        <activity
            android:name=".Week_6_Day_4"
            android:label="@string/title_activity_week_6__day_4" >
        </activity>
        <activity
            android:name=".Week_6_Day_5"
            android:label="@string/title_activity_week_6__day_5" >
        </activity>
        <activity
            android:name=".Week_6_Day_7"
            android:label="@string/title_activity_week_6__day_7" >
        </activity>
        <activity
            android:name=".Week_7_Day_2"
            android:label="@string/title_activity_week_7__day_2" >
        </activity>
        <activity
            android:name=".Week_7_Day_3"
            android:label="@string/title_activity_week_7__day_3" >
        </activity>
        <activity
            android:name=".Week_7_Day_4"
            android:label="@string/title_activity_week_7__day_4" >
        </activity>
        <activity
            android:name=".Week_7_Day_5"
            android:label="@string/title_activity_week_7__day_5" >
        </activity>
        <activity
            android:name=".Week_7_Day_7"
            android:label="@string/title_activity_week_7__day_7" >
        </activity>
        <activity
            android:name=".Week_8_Day_2"
            android:label="@string/title_activity_week_8__day_2" >
        </activity>
        <activity
            android:name=".Week_8_Day_4"
            android:label="@string/title_activity_week_8__day_4" >
        </activity>
        <activity
            android:name=".Week_8_Day_5"
            android:label="@string/title_activity_week_8__day_5" >
        </activity>
        <activity
            android:name=".Week_8_Day_7"
            android:label="@string/title_activity_week_8__day_7" >
        </activity>
        <activity
            android:name=".Week_9_Day_2"
            android:label="@string/title_activity_week_9__day_2" >
        </activity>
        <activity
            android:name=".Week_9_Day_3"
            android:label="@string/title_activity_week_9__day_3" >
        </activity>
        <activity
            android:name=".Week_9_Day_4"
            android:label="@string/title_activity_week_9__day_4" >
        </activity>

        <activity
            android:name="com.fitivity.fivek_training.Int_1_1"
            android:label="@string/title_activity_week_1_day_1" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_1_2"
            android:label="@string/title_activity_week_1_day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_1_3"
            android:label="@string/title_activity_week_1__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_1_4"
            android:label="@string/title_activity_week_1__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_1_5"
            android:label="@string/title_activity_week_1__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_1_7"
            android:label="@string/title_activity_week_1__day_6" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_1"
            android:label="@string/title_activity_week_2__day_1" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_2"
            android:label="@string/title_activity_week_2__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_3"
            android:label="@string/title_activity_week_2__day_1" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_4"
            android:label="@string/title_activity_week_2__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_5"
            android:label="@string/title_activity_week_2__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_6"
            android:label="@string/title_activity_week_2__day_6" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_2_7"
            android:label="@string/title_activity_week_2__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_3_2"
            android:label="@string/title_activity_week_3__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_3_3"
            android:label="@string/title_activity_week_1__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_3_4"
            android:label="@string/title_activity_week_3__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_3_5"
            android:label="@string/title_activity_week_3__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_3_7"
            android:label="@string/title_activity_week_3__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_4_2"
            android:label="@string/title_activity_week_4__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_4_3"
            android:label="@string/title_activity_week_4__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_4_5"
            android:label="@string/title_activity_week_4__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_4_7"
            android:label="@string/title_activity_week_4__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_5_2"
            android:label="@string/title_activity_week_5__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_5_3"
            android:label="@string/title_activity_week_5__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_5_5"
            android:label="@string/title_activity_week_5__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_5_7"
            android:label="@string/title_activity_week_5__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_6_2"
            android:label="@string/title_activity_week_6__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_6_3"
            android:label="@string/title_activity_week_6__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_6_4"
            android:label="@string/title_activity_week_6__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_6_7"
            android:label="@string/title_activity_week_6__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_7_2"
            android:label="@string/title_activity_week_7__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_7_3"
            android:label="@string/title_activity_week_7__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_7_5"
            android:label="@string/title_activity_week_7__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_7_7"
            android:label="@string/title_activity_week_7__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_8_2"
            android:label="@string/title_activity_week_8__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_8_4"
            android:label="@string/title_activity_week_8__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_8_5"
            android:label="@string/title_activity_week_8__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_8_7"
            android:label="@string/title_activity_week_8__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_9_2"
            android:label="@string/title_activity_week_9__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_9_3"
            android:label="@string/title_activity_week_9__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Int_9_4"
            android:label="@string/title_activity_week_9__day_4" >
        </activity>

        <activity
            android:name="com.fitivity.fivek_training.Adv_1_1"
            android:label="@string/title_activity_week_1_day_1" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_2"
            android:label="@string/title_activity_week_1_day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_3"
            android:label="@string/title_activity_week_1__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_4"
            android:label="@string/title_activity_week_1__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_5"
            android:label="@string/title_activity_week_1__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_6"
            android:label="@string/title_activity_week_1__day_6" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_1_7"
            android:label="@string/title_activity_week_1__day_6" >
        </activity>
        
        <activity
            android:name="com.fitivity.fivek_training.Adv_2_2"
            android:label="@string/title_activity_week_2__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_2_3"
            android:label="@string/title_activity_week_2__day_1" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_2_4"
            android:label="@string/title_activity_week_2__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_2_5"
            android:label="@string/title_activity_week_2__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_2_7"
            android:label="@string/title_activity_week_2__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_3_2"
            android:label="@string/title_activity_week_3__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_3_3"
            android:label="@string/title_activity_week_1__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_3_4"
            android:label="@string/title_activity_week_3__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_3_5"
            android:label="@string/title_activity_week_3__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_3_7"
            android:label="@string/title_activity_week_3__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_4_2"
            android:label="@string/title_activity_week_4__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_4_3"
            android:label="@string/title_activity_week_4__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_4_5"
            android:label="@string/title_activity_week_4__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_4_7"
            android:label="@string/title_activity_week_4__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_5_2"
            android:label="@string/title_activity_week_5__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_5_3"
            android:label="@string/title_activity_week_5__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_5_4"
            android:label="@string/title_activity_week_5__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_5_5"
            android:label="@string/title_activity_week_5__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_5_7"
            android:label="@string/title_activity_week_5__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_6_2"
            android:label="@string/title_activity_week_6__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_6_3"
            android:label="@string/title_activity_week_6__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_6_4"
            android:label="@string/title_activity_week_6__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_6_5"
            android:label="@string/title_activity_week_6__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_6_7"
            android:label="@string/title_activity_week_6__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_7_2"
            android:label="@string/title_activity_week_7__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_7_3"
            android:label="@string/title_activity_week_7__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_7_4"
            android:label="@string/title_activity_week_7__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_7_5"
            android:label="@string/title_activity_week_7__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_7_7"
            android:label="@string/title_activity_week_7__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_8_2"
            android:label="@string/title_activity_week_8__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_8_3"
            android:label="@string/title_activity_week_8__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_8_4"
            android:label="@string/title_activity_week_8__day_4" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_8_5"
            android:label="@string/title_activity_week_8__day_5" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_8_7"
            android:label="@string/title_activity_week_8__day_7" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_9_2"
            android:label="@string/title_activity_week_9__day_2" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_9_3"
            android:label="@string/title_activity_week_9__day_3" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.Adv_9_4"
            android:label="@string/title_activity_week_9__day_4" >
        </activity>
        
        <activity
            android:name=".SevenPartActivity"
            android:label="@string/title_activity_seven_part" >
        </activity>
        <activity
            android:name=".SevenPartTest"
            android:label="@string/title_activity_seven_part_test" >
        </activity>
        <activity
            android:name=".SixPartActivity"
            android:label="@string/title_activity_six_part" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.FivePartActivity"
            android:label="@string/title_activity_five_part" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.FourPartActivity"
            android:label="@string/title_activity_four_part" >
        </activity>
        <activity
            android:name=".FivePartActivity"
            android:label="@string/title_activity_five_part" >
        </activity>
        <activity
            android:name=".FourPartActivity"
            android:label="@string/title_activity_four_part" >
        </activity>
        <activity
            android:name=".ThreePartActivity"
            android:label="@string/title_activity_three_part" >
        </activity>
        <activity
            android:name=".TwoPartActivity"
            android:label="@string/title_activity_two_part" >
        </activity>
        <activity
            android:name=".OnePartActivity"
            android:label="@string/title_activity_one_part" >
        </activity>
        <activity
            android:name="com.fitivity.fivek_training.RaceDayActivity"
            android:label="@string/title_activity_race_day" >
        </activity>
    </application>

</manifest>
